<!doctype html>
<html lang="en">
<head>
  <app-meta></app-meta>

</head>
<body>
<app-header></app-header>
<div class="container mt-5">
  <h3 style="text-align:center">Feedback</h3>
<div class="d-flex justify-content-center mt-5">
  <form style="width: 25rem" class="container border border-5 p-3">
    <div class="col">
      <input class="form-control" type="text" id="inputid" placeholder="Enter Email">
      </div>
    <div class="col">
      <textarea class="form-control mt-4" placeholder="Enter feedback"></textarea>
      </div>
    <span class="d-flex justify-content-center mt-3"><button style="width:30%" class="btn btn-dark">Submit</button></span>
  </form>
  </div>
</div>
<app-footer></app-footer>
</body>
