<footer id="contact"  class="bg-dark row p-3 container-fluid mt-5" style="position:relative;left:12px">
    <div class="container col text-white">
        <h5 style="color:aquamarine">Help</h5>
        <p>FAQ's</p>
        <p>Return & Cancellation</p>
        <p>support@Voizfonica.com</p>
    </div>
    <div class="container col text-white">
        <h5 style="color:aquamarine">Terms</h5>
        <p>Privacy Policy</p>
        <p>Terms & Conditions</p>
        <p>Promotion</p>
    </div>
    <div class="container col text-white">
        <h5 style="color:aquamarine">My Account</h5>
        <p>Login</p>
        <p>Register</p>
        <p>hello@voizfonica.com</p>
    </div>
    <div class="container col text-white">
        <h5 style="color:aquamarine">Location</h5>
        <p>1234,Dubai Main Road,Dubai,UAE</p>
        <p>Mob: 123456789</p>
    </div>
    <div class="container col text-white">
        <h5 style="color:aquamarine;">Payment Methods</h5>
        <p>BlogPay</p>
        <p>Visa</p>
        <p>Master Card</p>
        <p>American Express</p>
        <p>PayPal</p>
    </div>
    <div class="container row text-secondary">
        <h5 class="text-center">© 2022 Voizfonica. All Rights Reserved</h5>
    </div>
</footer>
