<!DOCTYPE html>
<html lang="en">
<head>
    <app-meta></app-meta>
</head>
<body>
    <app-header></app-header>
    <div class="alert alert-danger" *ngIf="error">
        {{error}}
    </div>
    <div class="alert alert-success" *ngIf="success">
        {{success}}
    </div>
    <span>
        <h5 class="alert alert-primary text-center"> Added Benefits  |  Zee5, Voot, Colors | Hungama music in <u>Voizfonica App!!!</u></h5>
    </span>
    <div class="container mb-5">
    <section class="container">
        <div class="container card p-3">
            <h4>Get Voizfonica Sim:</h4>
            <form method="post" class="p-3">
                <span class="d-flex">
                    <input type="text" name="pincode" class="form-control border border-2" placeholder="pincode" [(ngModel)]="pincode" required>
                    <input type="tel" name="telephone" class="ms-3 form-control border border-2" placeholder="PhoneNo" [(ngModel)]="phoneNo" required>
                </span>
                <br>
                <span class="d-flex">
                    <input type="text" name="state" class="form-control border border-2" placeholder="State" [(ngModel)]="state" required>
                    <input type="tel" name="district" class="ms-3 form-control border border-2" placeholder="District" [(ngModel)]="district" required>
                </span>
                <br>
                <textarea name="address" class="form-control border border-2" id="" cols="20" rows="5" placeholder="Address"  [(ngModel)]="address" required></textarea>
                <br>
                <button class="btn btn-danger container align-item-center" (click)="generateNo()" >Generate Voizfonica Number</button>
            </form>
        </div>
    </section>
</div>
    <app-footer></app-footer>
</body>
</html>
