<!doctype html>
<html lang="en">
<head>
  <app-meta></app-meta>

</head>
<body>
<app-header></app-header>
    <h1 style="padding-left:60px">About </h1><br>
<div style="width:18rem" class="ms-5">
<ul style="width:180px">
  <li><button class="bg-danger text-white">Overview</button></li>
  <li><button>Awards and Acheivements</button></li>
  <li><button>Voizfonica foundation</button></li>
  <li><button>Careers at Voizfonica</button></li>
  <li><button>Help & Support</button></li>
  <li><button>Fradulent Communciation</button></li>
</ul>
</div>

</body>
</html>
