<section class="p-3 mt-5">
    <h1 class="text-center mb-5" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"><b>Trusted by customers, loved by partners
    </b></h1>
    <div class="container d-flex bg-warning pt-5 pb-3 pe-5 rounded">
        <div class="card p-3 bg-danger" style="width: 60vh;height: 82vh;">
            <img style="width: 180px;height:180px;" src="assets/andrew.png" class="img-fluid rounded col rounded-circle align-self-center">
            <div class="card-body col">
                <h4 class="card-title text-center text-white" style="font-family:monospace;font-weight: bold;">Andrew</h4>
                <p class="card-text p-1 text-white">In my personal experience using this tool is very useful as the best Network Service Provider also Internet/Ethernet services are also excellent and they offer gigabit speed network which really makes them better than other Network Service Providers.
                </p>
            </div>
        </div>
        <div class="card p-3 bg-danger" style="width: 60vh;position: relative;left: 1rem;height: 82vh;">
            <img style="width: 180px;height:180px;" src="assets/emilia.png" class="img-fluid rounded col rounded-circle align-self-center">
            <div class="card-body col">
                <h4 class="card-title text-center text-white" style="font-family:monospace;font-weight: bold;">Emilia</h4>
                <p class="card-text p-1 text-white">Voizfonica Network Services are really great. However, you may face some network issues in some of the remote locations, but in metro cities, things work just fine. Even from costing standpoint, it is at par with other service providers. 
                
                </p>
            </div>
        </div>
        <div class="card p-3 bg-danger" style="width: 60vh;background-color: rgba(128, 128, 128, 0.153);position: relative;left: 2rem;height: 82vh;">
            <img style="width: 180px;height:180px;" src="assets/robert.png" class="img-fluid rounded col rounded-circle align-self-center">
            <div class="card-body col">
                <h4 class="card-title text-center text-white" style="font-family:monospace;font-weight: bold;color: aqua;">Robert</h4>
                <p class="card-text text-white p-1 ">Voizfonica Global Network Services are one of the best in class as compared to many other service providers. It's network and internet services are so great that you will be able to exploit its benefits even if you are in the remote locations in any country. 
                  Great customer support, highly competitive pricing, internet services, etc. are just next to awesome
                </p>
            </div>
        </div>
    </div>
</section>
