<!DOCTYPE html>
<html lang="en">
<head>
    <app-meta></app-meta>
</head>
<body>
    <app-header></app-header>
<!-- 
    <section class="container mt-5">
        <h3><b> Voizfonica Customer Care Number</b></h3>
        <div class="container row">
            <span class="col">
                <h5 class="mt-3"><b><u>Office Address</u></b></h5>
                <p>Voizfonica Idea Limited (formerly Idea Cellular Limited), <br>                 
                    Birla Centurion, 10th Floor, Plot No. 794, B Wing, Pandurang Budhkar Marg,
                    Worli, Mumbai - 400 030 India</p>
            </span>
            <span class="col">
                <h5><b><u>Registered  Address</u></b></h5>
                <p>Voizfonica Private Limited,<br>
                    Suman Tower, Plot No. 18, Sector no. 11,  Gandhinagar - 382011<br> 
                    India, CIN L32100GJ1996PLC030976.<br>
                    Contact Number : +91-79 6671 4000, FAX : +91-79 2323 2251
                    </p>
            </span>
        </div>
        <div class="container row">
            <h5><b><u>Connect with us on Whatsapp</u></b></h5>
            <p>Get updates on your Vi™ account, best offers & more<br>
             WhatsApp number – 9654297000</p>
        </div>
    </section> -->


    <section class="container border border-3 p-3" style="width: 90%;">
        <h1 class="text-center alert alert-secondary">Voiz Chat</h1>
        <div class="container border border-1 p-1 rounded" style="height:22rem;overflow-y: scroll;background-image: url('assets/chatbanner.png');">
            <div class="container p-2 mt-3" id="chatbody">
                <span><p class="alert alert-danger" style="width: 40%;"> Hey! I'm Voiz, Your personal Voizfonica assistant.
                    <span class="d-flex justify-content-end mt-1">{{getTime()}}</span></p></span>
                <span>
                    <p class="alert alert-danger" style="width: 40%;"> What would you like to explore today?
                    <span class="d-flex justify-content-end mt-1">{{getTime()}}</span>
                    </p>
                </span>
            </div>
        </div>
        <form class="d-flex">
            <input class="form-control" type="text" name="chat" id="" placeholder="Chat here..." [(ngModel)]="message">
            <button class="btn btn-danger" (click)="addChat()">Send</button>
        </form>
    </section>
</body>
</html>