<!DOCTYPE html>
<html lang="en">
<head>
    <app-meta></app-meta>
</head>
<body>
    <app-header></app-header>
    <section class="container border border-3 p-3" style="width: 90%;">
        <h1 class="text-center alert alert-secondary">Voiz Chat</h1>
        <div class="container border border-1 p-1 rounded" style="height:22rem;overflow-y: scroll;background-image: url('assets/chatbanner.png');">
            <div class="container p-2 mt-3" id="chatbody">
                <span><p class="alert alert-danger" style="width: 40%;"> Hey! I'm Voiz, Your personal Voizfonica assistant.
                    <span class="d-flex justify-content-end mt-1">{{getTime()}}</span></p></span>
                <span>
                    <p class="alert alert-danger" style="width: 40%;"> What would you like to explore today?
                    <span class="d-flex justify-content-end mt-1">{{getTime()}}</span>
                    </p>
                </span>
            </div>
        </div>
        <form class="d-flex">
            <input class="form-control" type="text" name="chat" id="" placeholder="Chat here..." [(ngModel)]="message" autocomplete="off">
            <button class="btn btn-danger" (click)="addChat()">Send</button>
        </form>
    </section>
</body>
</html>