<div class="container d-flex justify-content-around ">
    <section class="container p-5 " style="width: 25rem;">
        <h4 class="alert alert-secondary p-3"><b>User Category</b></h4>
        <canvas id="userCat" class="rounded"></canvas>
    </section>
    <section class="container p-5" style="width: 25rem;">
        <h4 class="alert alert-secondary p-3"><b>Ticket Category</b></h4>
        <canvas id="ticketCat"  class=" rounded"></canvas>
    </section>
    <section class="container p-5" style="width: 25rem;">
        <h4 class="alert alert-secondary p-3"><b>Customer Satisfaction</b></h4>
        <canvas id="custSat"  class=" rounded"></canvas>
    </section>
</div>
