<!DOCTYPE html>
<html lang="en">
<head>
    <app-meta></app-meta>
</head>
<body>
    <app-header></app-header>
    <header class="container">
        <img src="assets/brand.png" alt="" class="img-fluid float-end" width="15%">

        <span class="container">
            <h1 class="text-danger">Voizfonica</h1>
            <h5>No 123, Dubai Main Road, Dubai, UAE</h5>  
            <h5>Mail: voizfonicanoreply@gmail.com</h5>
            <h5>Mob: 1234567890</h5>
        </span>
        <hr>
    </header>
    <!-- <section class="row container">
        <span class="col-4 border border-2 p-3" style="margin-left: 10rem;">
            <h3 class="alert alert-danger">BILL TO</h3><hr>
            <h5>Bobbili Raja Salai, k.k.nagar, chennai-78</h5>
        </span>
        <span class="col-4 border border-2 p-3" style="margin-left: 10rem" >
            <h3 class="alert alert-danger">INVOICE</h3><hr>
            <div class="row">
                <span class="col p-2" >
                    <h5><b>ID</b></h5>
                    <p><b>1234</b></p>
                </span>
                <span class="col p-2">
                    <h5><b>CUSTOMER ID</b></h5>
                    <p><b>54321</b></p>
                </span>
            </div>
        </span>
    </section> -->
    <section class="container mt-5">
        <h3 class="alert alert-danger row">
            <span class="col-8">
                DESCRIPTION:
            </span>
            <span class="col">
                <span class="fs-4 me-5">
                    QUANTITY
                </span>
                <span class="fs-4">
                    AMOUNT
                </span>
            </span>
        </h3>
        <div class="container border border-2 p-3 row mb-3" *ngIf="sim">
            <h3 class="col-8"><i>Sim Card</i></h3>
            <h3 class="col">1</h3>
            <h3 class="col">$90</h3><hr>



            <!-- <h3 class="col-8"><i>Delivery Charges</i></h3>
            <h3 class="col">-</h3>
            <h3 class="col">$40</h3><hr> -->


            <h3 class="col-8"><i>Tax</i></h3>
            <h3 class="col">-</h3>
            <h3 class="col">$10</h3><hr>
        </div>
        <div class="container border border-2 p-3 row mb-3" *ngIf="plan">
            <h3 class="col-8"><i>Plan</i></h3>
            <h3 class="col">1</h3>
            <h3 class="col">${{beforeTax}}</h3><hr>



            <!-- <h3 class="col-8"><i>Delivery Charges</i></h3>
            <h3 class="col">-</h3>
            <h3 class="col">$40</h3><hr> -->


            <h3 class="col-8"><i>Tax</i></h3>
            <h3 class="col">-</h3>
            <h3 class="col">$10</h3><hr>
        </div>
        <div class="container alert alert-success row">
            <h1 class="col-10">Total</h1>
            <h2 class="col" *ngIf="sim">$100</h2>
            <h2 class="col" *ngIf="plan">${{price}}</h2>
        </div> 

        <div class="text-center mt-5">
            <h5><i>Thank you for using Voizfonica Service</i></h5>
            <h6>If you have any queries about this invoice, please contact<br>[voizfonicanoreply@gmail.com]</h6>
        </div>
    </section>
    <hr>
    <footer class="float-end p-1">
        <h5>Voizfonica Copyrights 2022</h5>
    </footer>
</body>
</html>