<!doctype html>
<html lang="en">
<head>
  <app-meta></app-meta>

</head>
<body>
<style>
  p{
    font-family: "ViRegular","Helvetica","Arial",sans-serif
  }
</style>
<app-header></app-header>
<div class="container mt-4 mb-5">
<h2 style="text-align:center"><b>Privacy Matters</b></h2>
<!--    section 1 -->
    <section class="container mt-3 pt-5"  style="height:15rem;">
      <h3 style=""><b>Who we are?</b></h3>
      <img src="assets/img9.PNG" style="width:10rem">
      <p style="30rem">PLEASE READ THIS PRIVACY POLICY CAREFULLY. “YOU” AND “YOUR” SHALL REFER TO THE CUSTOMER OR SUBSCRIBER OR USER OF VOIZFONICA LIMITED’s PRODUCTS AND SERVICES, WEBSITE [www.voizfonica.com] OR APPLICATIONS (hereinafter ‘Services’). “WE,” “OUR” OR “US” SHALL REFER TO Voizfonica LIMITED, PROVIDING OR OFFERING SERVICES TO YOU
      </p>
    </section>
<!--  section2 -->
    <section class="container mt-5 pt-5"  style="height:20rem;">
      <div class="container row">
        <h3><b>Collection of personal information</b></h3>
        <div class="col">
          <img src="assets/img11.PNG" style="width:10rem">
        </div>
        <p style="30rem">The Information Technology Act 2000, its subsequent amendments and The Information Technology (Reasonable security practices and procedures and sensitive personal data or information) Rules, 2011 includes extensive definitions for Personal Information and Sensitive Personal Information. For the purposes of this Policy, Personal Information (PI) includes Personally Identifiable Information that is information relating to a natural person or that could be used directly or indirectly in combination with other information available with Us and is capable of identifying a natural person and “Sensitive Personal Information” which may reveal, or be related to or constitute financial data, health data (example Blood Group), official identifier (example Proof of identity submitted at the time of activation of services), biometric data (of employees only), passwords (to help you securely access your own accounts only ) etc. of natural persons>
        </p>
      </div>
    </section>



<!--section3-->
    <section class="container mt-5 pt-5"  style="height:20rem;">
      <div class="container row">
        <h3><b>Use of personal information</b></h3>
        <div class="col">
          <img src="assets/img12.PNG" style="width:10rem">
        </div>
        <p style="30rem">The information that we collect from you is held and used in accordance with applicable laws and regulations in India. It may be used to verify your identity before providing services, contact you/ respond to you regarding matters relevant to the underlying services (including while you are on national and international roaming), generate bills and statements of use, data analytics etc. The information that we collect from you is held and used in accordance with applicable laws and regulations in India</p>
      </div>

    </section>

<!--section4 -->
    <section class="container mt-5 pt-5"  style="height:15rem;">
      <div class="container row">
        <h3><b>How long do we store your data?</b></h3>
        <div class="col">
          <img src="assets/img13.PNG" style="width:10rem">
        </div>
        <p style="30rem">a. We may retain Your information for so long as We are obligated to as per the legal, regulatory directions for the time being in force.<br>
b. If there is no legal requirement, we may only store Your information for as long as we have the justified business requirement and we need it for providing services to you.
</p>
      </div>
    </section>
<!--section-5-->
    <section class="container mt-5 pt-5"  style="height:15rem;">
      <h3><b>How do We Protect Your Personal Information?</b></h3>
      <div class="col">
          <img src="assets/img12.PNG" style="width:10rem">
        </div>
   <div class="col">
    <p>a. We will strive on best effort basis to ensure the security of Your information. Access to Your Personal Information, within VIL is restricted and shared with VIL personnel on a need to know basis. All VIL personnel are obligated to protect confidentiality and ensure security as per VIL’s Code of Conduct and confidentiality policies.</p>
   </div>
    </section>

  <!--section6-->
<section class="container mt-5 pt-5"  style="height:20rem;">
      <h3><b>Use of cookies and technologies</b></h3>
   <div class="col">
     <p>Please read this cookie statement carefully. “you” and “your” shall refer to the customer or subscriber or visitor of the Vodafone Idea Limited website [www.myvi.net] or application. “we,” “our” or “us” shall refer to Vodafone Idea Limited, providing or offering services to You or customer or subscriber of the Vodafone Idea Limited. His Cookie Statement is a part of and subject to the Privacy Policy. This statement explains the collection and use of various Cookies by Us. We periodically update and revise this Cookie Statement and would strongly urge you to revisit this page from time to time.
</p><br>
     How can You ‘opt out’ of Cookies?<br>

<p>Most browser technologies (such as Internet Explorer, Chrome, etc.) allow You to choose whether to accept cookies or not. You can either refuse all cookies or set Your browser to alert You, each time a website tries to set a cookie. Most mobile operating systems allow users to reset the Advertising/Device ID by selecting the ‘Ads’ setting to ‘limit tracking’ on their mobile devices. This would amount to opting out of cookies used for targeted advertisements. In case You choose to disable/refuse the cookies certain functionalities on the website may not be available, which may impact the services we may provide to You.
   </p></div>
    </section>

  <!--section7-->
  <section class="container mt-5 pt-5"  style="height:20rem;">
      <h3><b>Disclosure, Sharing and Transfer of Personal Information</b></h3>
   <div class="col">
     <p>We store Your PI within the territorial limits of India. As stated before, we may disclose or share Your PI with Authorised Third Parties: including Partners or Agents who are involved in delivering the products and services You may have ordered or used.<br>
       <b>Authorised Third Parties :</b><br> Including  Partners or Agents who are involved in delivering the products and services You may have ordered or used; Customer Verification agencies, Credit-reference agencies, fraud-prevention agencies, business-scoring agencies or other credit-scoring agencies; Debt-collection agencies or other debt-recovery organizations; Emergency services (if you make an emergency call), Our IT vendors hosting our websites and applications; operating various features available on the website and applications; sending emails; analyzing data; providing search results and links and assisting in fulfilling Your orders; Website Analytics vendors and agencies and Mobile App Analytics vendors and agencies. Such Third Parties will be contractually obligated to ensure privacy and security of Your personal information.<br>
       <b>Government and Law Enforcement Agencies: </b><br> For verification of identity, prevention, detection, investigation of, including but not limited to cyber incidents, prosecution, and punishment of offences. These disclosures are made in good faith and belief that such disclosure is reasonably necessary for enforcing these Terms and for complying with the applicable laws and regulations.
     </p></div>
    </section>
</div>
</body>
</html>

