<!doctype html>
<html lang="en">
<head>
  <app-meta></app-meta>
</head>
<body>
<div class="row" style="height:200rem;">
  <div class="col-4" >
    <img src="assets/brand.png">
    <h2>Profile</h2>
    <p>Kannan<br>6381578847<br>Prepaid</p>
    <button class="btn btn-danger">Add Profile</button>
  </div>
  <div class="col-8">
    <h1>My Account</h1>
    <h3>Active packs & benefits</h3>
    <div class="row">
      <div class="col-4">
        <div class="card" style="border-radius:25px;">
          <div class="card-body">
            <div class="card-title"><button class="btn btn-danger" href="#">Recharge History</button></div>
            <p class="card-text">List of your recharges within past 90days</p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card" style="border-radius:25px;height:9.5rem;">
          <div class="card-body">
            <div class="card-title"><button class="btn btn-danger" href="#">Active packs & services</button></div>
            <p class="card-text">Check your active packs and benefits</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <h3>More services</h3>
      <div class="col-4">
        <div class="card" style="border-radius:25px;">
          <div class="card-body">
            <div class="card-title"><button class="btn btn-danger" href="#">Service Request & Complaints</button></div>
            <p class="card-text">Track the status of your service requests </p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card" style="border-radius:25px;height:10.8rem;">
          <div class="card-body">
            <div class="card-title"><button class="btn btn-danger" href="#">Do not Disturb(DND)</button></div>
            <p class="card-text">Choose to receive promotional & sms</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
</body>
</html>
