<!DOCTYPE html>
<html lang="en">
<head>
    <app-meta></app-meta>
</head>
<body>
    <app-header></app-header>
    <span>
        <h5 class="text-center text-white p-2 bg-danger">Experience the new Voizfonica app!!! <u class="ms-4">Download Now</u></h5>
    </span>
    <app-bills></app-bills>


    <section class="container mt-5 p-3">
      <div class="row">
        <span class="col-2">
          <span class="d-flex justify-content-center"><img src="assets/postpaid-sim.png" class="img-fluid" alt=""></span>
          <figcaption class="text-center fw-bold">Buy Prepaid</figcaption>
        </span>

        <span class="container col-2">
          <span class="d-flex justify-content-center"><img src="assets/postpaid-sim.png" class="img-fluid" alt=""></span>
          <figcaption class="text-center fw-bold">Buy Postpaid</figcaption>
        </span>

        <span class="container col-2">
          <span class="d-flex justify-content-center"><img src="assets/vip-sim.png" class="img-fluid" alt=""></span>
          <figcaption class="text-center fw-bold">Buy Vip Number</figcaption>
        </span>

        <span class="container col-2">
          <span class="d-flex justify-content-center"><img src="assets/dongle-sim.png" class="img-fluid" alt=""></span>
          <figcaption class="text-center fw-bold">Buy Dongle</figcaption>
        </span>

        <span class="container col-2">
          <span class="d-flex justify-content-center"><img src="assets/help-sim.png" class="img-fluid" alt=""></span>
          <figcaption class="text-center fw-bold">Help & Support</figcaption>
        </span>
      </div>
    </section>
    <app-plans></app-plans>
    

    <section class="p-3 mt-5">
      <h1 class="text-center mb-5" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"><b>Trusted by customers, loved by partners
      </b></h1>
      <div class="container d-flex bg-warning pt-5 pb-3 pe-5 rounded">
          <div class="card p-3 bg-danger" style="width: 60vh;height: 82vh;">
              <img style="width: 180px;height:180px;" src="assets/andrew.png" class="img-fluid rounded col rounded-circle align-self-center">
              <div class="card-body col">
                  <h4 class="card-title text-center text-white" style="font-family:monospace;font-weight: bold;">Andrew</h4>
                  <p class="card-text p-1 text-white">A very emotional experience Thnak Thank you abilash for leading this sucessful trip. The hotel, the food, the guide and the travelling and the trip schedule including
                      visiting significant places france made this trip an experience which was perfectly orchestrated and adjusted according to limits and changes. Thank you for all your efforts.
                  </p>
              </div>
          </div>
          <div class="card p-3 bg-danger" style="width: 60vh;position: relative;left: 1rem;height: 82vh;">
              <img style="width: 180px;height:180px;" src="assets/emilia.png" class="img-fluid rounded col rounded-circle align-self-center">
              <div class="card-body col">
                  <h4 class="card-title text-center text-white" style="font-family:monospace;font-weight: bold;">Emilia</h4>
                  <p class="card-text p-1 text-white">This, my first trip to New York and VFI experience, affected me in ways that I had not anticipated. As a secular Jew, it helped clarify where I fit in regard to my Judaism and the relationship with
                      New York. The volunteer work was meaningful and fulfilling, and the touring aspect of the program was fascinating and top notch.
                  </p>
              </div>
          </div>
          <div class="card p-3 bg-danger" style="width: 60vh;background-color: rgba(128, 128, 128, 0.153);position: relative;left: 2rem;height: 82vh;">
              <img style="width: 180px;height:180px;" src="assets/robert.png" class="img-fluid rounded col rounded-circle align-self-center">
              <div class="card-body col">
                  <h4 class="card-title text-center text-white" style="font-family:monospace;font-weight: bold;color: aqua;">Robert</h4>
                  <p class="card-text text-white p-1 ">Melbourne has a commitment to 3rd world countries, and nations who have experienced disaster. We become a part of that commitment with our volunteer work and support. Our tour guide, did an execptional job in bringing the land and the 
                      peopleof the melbourne alive for our group, it was a unique program.
                  </p>
              </div>
          </div>
      </div>
  </section>

  <section class="conatiner-fluid mt-3">
    <img src="assets/banner.png" class="img-fluid" alt="">
  </section>

  <app-footer></app-footer>
</body>
</html>
