<!DOCTYPE html>
<html lang="en">
<head>
    <app-meta></app-meta>
</head>
<body>
    <app-header></app-header>
    <span>
        <h5 class="text-center text-white p-2 bg-danger">Experience the new Voizfonica app!!! <u class="ms-4">Download Now</u></h5>
    </span>
    <app-bills></app-bills>


    <section class="container mt-5 p-3">
      <div class="row">
        <span class="col-2">
          <span class="d-flex justify-content-center"><img src="assets/postpaid-sim.png" class="img-fluid" alt=""></span>
          <figcaption class="text-center fw-bold">Buy Prepaid</figcaption>
        </span>

        <span class="container col-2">
          <span class="d-flex justify-content-center"><img src="assets/postpaid-sim.png" class="img-fluid" alt=""></span>
          <figcaption class="text-center fw-bold">Buy Postpaid</figcaption>
        </span>

        <span class="container col-2">
          <span class="d-flex justify-content-center"><img src="assets/vip-sim.png" class="img-fluid" alt=""></span>
          <figcaption class="text-center fw-bold">Buy Vip Number</figcaption>
        </span>

        <span class="container col-2">
          <span class="d-flex justify-content-center"><img src="assets/dongle-sim.png" class="img-fluid" alt=""></span>
          <figcaption class="text-center fw-bold">Buy Dongle</figcaption>
        </span>

        <span class="container col-2">
          <span class="d-flex justify-content-center"><img src="assets/help-sim.png" class="img-fluid" alt=""></span>
          <figcaption class="text-center fw-bold">Help & Support</figcaption>
        </span>
      </div>
    </section>
    <app-plans></app-plans>
    <app-testimonial></app-testimonial>
  <section class="conatiner-fluid mt-3">
    <img src="assets/banner.png" class="img-fluid" alt="">
  </section>

  <app-footer></app-footer>
</body>
</html>
