<!DOCTYPE html>
<html lang="en">
<head>
    <app-meta></app-meta>
</head>
<body>
    <app-header></app-header>
    <span>
        <h5 class="text-center text-white p-2 bg-danger">Experience the new Voizfonica app!!! <u class="ms-4">Download Now</u></h5>
    </span>
    <app-bills></app-bills>

<table>
  <tr>
    <td><img src="assets/postpaid-sim.png"></td>
    <td><img src="assets/postpaid-sim.png"></td>
    <td><img src="assets/vip-sim.png"></td>
    <td><img src="assets/dongle-sim.png"></td>
    <td><img src="assets/help-sim.png"></td>
  </tr>
  <tr>
    <td><figcaption>Buy Prepaid</figcaption></td>
    <td><figcaption>Buy Postpaid</figcaption></td>
    <td><figcaption>Vip Number</figcaption></td>
    <td><figcaption>Buy Dongle</figcaption></td>
    <td><figcaption>Help & Support</figcaption></td>
  </tr>
</table><br><br>
<app-plans></app-plans>
</body>
</html>
