<section class="container p-3 mt-5">
  <h1 class="text-center" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
  <b>Best Seller Unlimited Plans</b></h1>
  
  <div class="container-fluid row d-flex justify-content-center bg-warning p-1 pb-3 rounded">
    <div class="card p-3 mt-5 me-1 col" style="width: 21rem;" *ngFor="let i of viPlan">
      <h2 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"><b>${{i.plan_price}}</b></h2>
      <div class="card-body row">
        <span class="col">
          <h6><b>{{i.plan_talktime}}</b></h6>
          <p>Calls</p>
        </span>
        <span class="col">
          <h6><b>{{i.plan_data}}GB/day</b></h6>
          <p>Data</p>
        </span>
        <span class="col">
          <h6 class="col"><b>{{i.plan_validity}}Days</b></h6>
          <p>Validity</p>
        </span>
        <button class="btn btn-danger">Recharge</button>
      </div>  
    </div>
  </div>
</section>

<section class="container mt-5 p-3 d-flex justify-content-center">
  <img src="assets/banner1.png" style="width: 60rem;" class="img-fluid rounded" alt="">
</section>
